#top-section {
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
}

#allanlzee {
  height: 200px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.header-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    float: right;
  } */

p {
  width: -var(--p-width);
  text-align: left;
  font-family: Merriweather;
  font-size: 18px;
}

#contact {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  text-align: justify;
}

#contact-info {
  text-align: left;
  margin-left: 20px;
  width: 150px;
}

.nav-link {
  font-family: Merriweather;
  font-size: 16px;
  color: darkblue;
}
